# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
env/
.env/

/static/
/staticfiles/

/tenants/views/financial.py
/tenants/views/transaction.py