Django==5.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf_yasg==1.21.10
fitz==0.0.1.dev2
playwright==1.52.0
python_dateutil==2.9.0.post0
Requests==2.32.3
rest_framework_simplejwt==0.0.2
twilio==9.6.1
